body {
  background-color: rgb(93, 63, 26);
}
.card {
  display:flex;
  text-align: center;
  background-image: url("https://cdn2.vectorstock.com/i/1000x1000/82/61/colorful-magic-wand-at-black-background-vector-21288261.jpg");
  color: rgb(245, 245, 237);
 } 
 .hat {
  width: 500px;
  align-self: center;
}
.Gryffindor {
  background-color: rgb(129, 27, 27);
}
.Hufflepuff {
  background-color: rgb(148, 148, 15);
}
.Ravenclaw {
  background-color: rgb(35, 35, 143);
}
.Slytherin {
  background-color: rgb(13, 89, 13);
}
#cards {
  display:flex;
  padding: 10vh;
  justify-content: space-between;
}
#gryffindor {
  background-color: rgb(129, 27, 27);
}
#hufflepuff {
  background-color: rgb(148, 148, 15);
}
#ravenclaw {
  background-color: rgb(35, 35, 143);
}
#slytherin {
  background-color: rgb(13, 89, 13);
}
#all {
  background-color: rgb(18, 46, 16);
}
.modal-dialog {
  color: rgb(79, 66, 66);
}
